.info__form {
  display: flex;
  flex-direction: column;
}

.info__form input{
  margin: .5em 0 2em;
  padding: .75em;
  border: 1px solid var(--Neutral-Light-gray);
  border-radius: .25em;
  background-color: transparent;
  transition: all .3s;
}

.info__form input:target {
  border-color: var(--Primary-Marine-blue);
}

.info__flex{
  display: flex;
}

.value-error {
  color: var(--Primary-Strawberry-red);
  margin-left: auto;
}

.info__form .input-error {
  border: 2px solid var(--Primary-Strawberry-red);
  /* outline-color: var(--Primary-Strawberry-red); */
}