.thanks {
  width: 85%;
  height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks h2 {
  margin: 2rem auto 1rem;
  color: var(--Primary-Marine-blue);
}

.thanks p {
  color: var(--Neutral-Cool-gray);
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .thanks {
    width: 90%;
    padding: 4rem 0;
  }
  
  .thanks p {
    font-size: 1.1rem;
  }
}