.thanks {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks h2 {
  margin: 2rem auto 1rem;
  color: var(--Primary-Marine-blue);
}

.thanks p {
  color: var(--Neutral-Cool-gray);
  text-align: center;
  line-height: 1.5;
}