@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --Primary-Marine-blue: hsl(213, 96%, 18%);
  --Primary-Purplish-blue: hsl(243, 100%, 62%);
  --Primary-Pastel-blue: hsl(228, 100%, 84%);
  --Primary-Light-blue: hsl(206, 94%, 87%);
  --Primary-Strawberry-red: hsl(354, 84%, 57%);
  --Neutral-Cool-gray: hsl(231, 11%, 63%);
  --Neutral-Light-gray: hsl(229, 24%, 87%);
  --Neutral-Magnolia: hsl(217, 100%, 97%);
  --Neutral-Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  --Font: 'Ubuntu', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: var(--Neutral-Magnolia);
  font-family: var(--Font);
  width: 100dvw;
}

main {
  width: min(95%, 1100px);
  height: 80vh;
  margin: auto;
  margin-top: 10vh;
  padding: 1em;
  border-radius: .5em;
  box-shadow: 0 0 2rem 0rem rgba(100, 100, 100, .5);
  background-color: var(--Neutral-Alabaster);
  display: flex;
}
 
.container {
  width: 100%;
  margin: 0 6em;
  position: relative;
}

.title {
  color: var(--Primary-Marine-blue);
  margin: 1.5rem 0;
  font-size: 2.5rem;
}

.description {
  color: var(--Neutral-Cool-gray);
  margin-bottom: 3rem;
  font-size: 1.25rem;
}

.buttons {
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 1rem;
  font-weight: 500;
  padding: .5em 1em;
  width: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s;
}

.left {
  color: var(--Neutral-Cool-gray);
}

.right {
  border-radius: .25em;
  color: var(--Neutral-Alabaster);
  background-color: var(--Primary-Marine-blue);
  margin-left: auto;
}

.confirm {
  background-color: var(--Primary-Purplish-blue);
}


@media (min-width: 601px) {
  .left:hover {
    color: var(--Primary-Marine-blue);
  }
  .right:hover {
    background-color: var(--Primary-Purplish-blue);
  }
  .confirm:hover {
    background-color: var(--Primary-Marine-blue);
  }
}

@media (max-width: 600px) {
  body {
    width: 100dvw;
    height: 100dvh;
    height: 100vh;
  }

  main {
    height: auto;
    margin-top: 0;
    top: 15vh;
    padding: 1.5em;
    position: absolute;
    left: 2.5vw;
  }

  .container {
    margin: 0 auto;
  }

  .title {
    margin: .5rem 0;
    font-size: 1.7rem;
  }

  .description {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .buttons {
    background-color: var(--Neutral-Alabaster);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100vw;
    z-index: 0;
  }

  .button {
    bottom: 1em;
    right: 5vw;
  }

  .left {
    left: 5%;
    padding-left: 0;
  }
}